.text-color{
  color: #2f7371;
}
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #f0f4f8;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.login-card {
  background: #f8fefd;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  text-align: center;
}



.login-card input {
  width: 100%;
  padding: 0.8rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
}

.login-card input:focus {
  outline: none;
  border-color: #0078d7;
  box-shadow: 0 0 4px rgba(0, 120, 215, 0.4);
}

.login-card button {
  width: 100%;
  padding: 0.9rem;
  background-color: #2f7371;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.login-card button:hover {
  background-color: #225452;
}

.error {
  color: #d93025;
  margin-top: 1rem;
  font-weight: 500;
}

.success {
  color: #0f9d58;
  margin-top: 1rem;
  font-weight: 500;
}
